html, body{
	margin:0;
	padding:0;
}
#wrapper{
	width: 640px;
	margin: auto;
}
#player_wrap{
	margin:10px auto 0px;
	width:640px;
	height: 390px;
	position: relative;
}
.clickable{
	cursor: pointer;
}
#seekbar{
	width: 640px;
	height: 5px;
	background: #666;
	position: absolute;
	bottom:25px;
}
#progressbar{
	width: 0px;
	height: 5px;
	background: #489CE7;
	position: absolute;
}
#bufferingbar{
	width: 0px;
	height: 5px;
	background: #ddd;
	position: absolute;
}
#slider{
	width: 15px;
	height: 5px;
	background: #16d;
	position: absolute;
}
#tools{
	width: 640px;
	height:25px;
	position: absolute;
	bottom: 0;
	background: #999;
}
#play_btn{
	position: relative;
	width: 25px;
	height: 25px;
	float: left;
}

#play_btn_image{
	position: relative;
	background: url(../assets/play.png);
	width: 10px;
	height: 10px;
	top:7px;
	left: 7px;
}
#volume_wrap{
	width: 100px;
	height: 25px;
	float: left;
}
#mute_btn{
	width:25px;
	height: 25px;
	float: left;
}
#mute_btn_image{
	margin: auto;
	width:10px;
	height: 10px;
	top:7px;
	position: relative;
	background: url(../assets/speaker_on.png) no-repeat;
}
#volumebar{
	margin-left: 10px;
	width: 80px;
	height: 5px;
	background: #ddd;
	position: relative;
	top:10px;
	float: left;
}
#v_progressbar{
	width:0;
	height:5px;
	background: #666;
}
#v_slider{
	width: 11px;
	height: 11px;
	background: #333;
	position: absolute;
	top: -3px;
	border-radius: 100%;
}
#good{
	//margin-right: 5px;
	float: right;
	position:relative;
	width: 25px;
	height: 25px;
	//background: #666;
}
#panel{
	margin: auto;
	margin-top:6px; 
	width: 15px;
	height: 15px;
	background: url(../assets/like.png) no-repeat;
}
#time_wrap{
	letter-spacing: 0.1em;
	font-family: 'helvetica','Shanti', sans-serif;
	position:absolute;
	right: 60px;
	width: 80px;
	height: 25px;
	float: left;
	font-size: 12px;
	line-height: 2em;
	text-align: center;
}
#current_disp{
	width: 40px;
	height: 25px;
	float: left;
	color: #ddd;
}
#duration_disp{
	width: 40px;
	height: 25px;
	float: left;
	color: #666;
}
#fullscreen_btn_wrap{
	width: 25px;
	height: 25px;
	float: right;
}
#fullscreen_btn{
	margin: 5px auto 0;
	width: 15px;
	height: 15px;
	background: url(../assets/fullscreen.png) no-repeat;
}
#clear_left{
	clear: left;
}

#player_wrap:-webkit-full-screen{ width: 100%; height: 100%; background: #000;}
#player_wrap:-moz-full-screen{ width: 100%; height: 100%; background: #000;}
#player_wrap:-ms-full-screen{ width: 100%; height: 100%; background: #000;}
#player_wrap:-o-full-screen{ width: 100%; height: 100%; background: #000;}
#player_wrap:full-screen{ width: 100%; height: 100%; background: #000;}

#player_wrap:-webkit-full-screen #player{ width: 100%; }
#player_wrap:-moz-full-screen #player{ width: 100%; }
#player_wrap:-ms-full-screen #player{ width: 100%; }
#player_wrap:-o-full-screen #player{ width: 100%; }
#player_wrap:full-screen #player{ width: 100%; }

#player_wrap:-webkit-full-screen #tools{ width:100%; }
#player_wrap:-moz-full-screen #tools{ width:100%; }
#player_wrap:-ms-full-screen #tools{ width:100%; }
#player_wrap:-o-full-screen #tools{ width:100%; }
#player_wrap:full-screen #tools{ width:100%; }

#player_wrap:-webkit-full-screen #seekbar{ width: 100%; }
#player_wrap:-moz-full-screen #seekbar{ width: 100%; }
#player_wrap:-ms-full-screen #seekbar{ width: 100%; }
#player_wrap:-o-full-screen #seekbar{ width: 100%; }
#player_wrap:full-screen #seekbar{ width: 100%; }

#chartContainer{
	clear: both;
	margin: auto;
}